* {
    margin: 0;
    padding: 0;
}

#menu{
    margin: auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
   left:20%;
     
}

ul, ol {
    list-style: none;
}

.nav > li {
    float: left;
}

.nav li a {
    background-color: #99ff01;
    color: #0040ff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #de4649d6;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0;
}

.nav li ul {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}

img {
    width: 450px;
    margin-left: 450px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto001 {
    font-size: 50px;
    color: aqua;
    text-align: center;
    font-family: math;
}
